SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0042", ATTRS{serial}=="*", SYMLINK+="ttyCAT", MODE="0666"
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0042", RUN+="/bin/sh -c 'echo 0 >/sys/$devpath/device/power/autosuspend'"
